{% block head %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-X4N368BPTL"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-X4N368BPTL');
</script>
<h1 style="text-align:center">Marketing Analyzer</h1>
<h4 style="text-align:center">Open sourced</h4>
<br>
<br>
{% endblock %}
{% block body %}
<div class="content">
    <div class="default_list" style="text-align:center">
        Hello please either enter your own queries below or, leave the list as blank to use the default list.
        <br>
        <br>
        The default list includes various commodities as keywords, as well as, various transportation key words.
        <br>
        <br>
        Depending on how many queries you entered this may take some time, so sit back and relax!
        <br>
        <br>
        One word queries can be entered as is, for queries with multiple words pelase enclose them in ! marks.
        <br>
        <br>
        If entering multiple queries please leave a space between them, for example : <i>Oil Gas Gold !Canadian Pacific! Tesla Nvidia</i>
    </div>
    <br>
    <br>
    <div class="form">
        <form action="/" method="POST" style="text-align:center">
            <input type="text" name="keywords" id="keywords">
            <input type="submit" value="run search" style="background-color:lightgreen;font-weight:bold">
        </form>
    </div>
</div>
{% endblock %}
