{% block head %}
<h1 style="text-align:center">Marketing Analyzer</h1>
<h3 style="text-align:center">Thank you for using "Market Analyzer"</h3>
<h5 style="text-align:center">An open source sentiment analyzer</h5>
<h6 style="text-align:center">Haris Masood</h6>
{% endblock %}
{% block body %}
<div="content">
    <div="return">
        <a href="/"><p style="text-align:center">Run another query?</p></a>
    </div>
    <br>
    <div="no_results">
        <center>Unfortunately no relevant articles where found, how about running another query?</center>
    </div>
</div>
{% endblock %}
